.row.commentSection-comment{ 'data-comment-id': '<%= comment.id %>' }
  .col-md-2
    = comment.commentator.name
  .col-md-6
    = comment.content
  .col-md-3
    = comment.created_at
  .col-md-1
    = link_to 'Delete', comment_path(comment.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' },
    role: 'button', class: 'btn btn-danger'
