<div class="jumbotron text-center">
  <h1>Index of Authors</h1>
</div>

<img class="loader" style="display: none;" src="https://g.redditmedia.com/cZSQS6pKfOJa7hOwvGpP2Fg_cMrTKXEVrri9_N78AmA.gif?fm=mp4&mp4-fragmented=false&s=31b402d6703c4b7ac0d90f7457cc6d59"/>

<div class="container authors">
  <% @authors.each do |author| %>
      <%= render 'author', author: author %>
  <% end %>
</div>
<hr/>

<%= render 'form' %>

<hr/>
<%= link_to 'New', new_author_path %>