- content_for :title, 'Blog | Home'

.jumbotron.text-center
  %h1 Welcome

.container
  - @posts.in_groups_of(3, false).each do |group|
    .row.homePosts-row
      - group.each do |post|
        .col-md-4
          .card{ style: 'width: 18rem' }
            .card-body
              %h5.card-title
                = post.title
              %h6.card-subtitle.mb-2.text-muted
                \~
                = post.author.full_name
              %p.card-text
                = truncate(post.content)
              = link_to 'Show', post_url(post.id), role: 'button', class: 'card-link btn btn-primary'
