<% content_for :title, 'Blog | Home' %>

<div class="jumbotron text-center">
  <h1>Welcome!</h1>
</div>

<div class="container">
  <% @posts.in_groups_of(3, false).each do |group| %>
    <div class="row homePosts-row">
      <% group.each do |post| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted">~ <%= post.author.full_name %></h6>
              <p class="card-text"><%= truncate(post.content) %></p>
              <%= link_to 'Show', post_url(post.id), role: 'button', class: 'card-link btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>