<div class="container commentSection">
  <% if post.comments.any? %>
      <h3 class="commentSection-title">Comment section</h3>
      <div class="row commentSection-headings">
        <div class="col-md-2">Author</div>
        <div class="col-md-10">Comment</div>
    </div>
    <% post.comments.each do |comment| %>
      <%= render 'posts/comment', comment: comment %>
    <% end %>
  <% end %>
</div>