<div class="jumbotron text-center">
  <h1>List of posts</h1>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
</div>
<hr/>
<div class="container">
  <%= link_to 'New', new_post_path, role: 'button', class: 'btn btn-primary' %>
</div>