.authors {
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em;
}

.authors-add {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em;
}

.author-new {
  margin-top: 1.3em;  
}

.author-edit {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em;
}