.authors {
  border-bottom: thin solid #eee;
  padding-bottom: 1em;
}

.author {
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}

.authors-add {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em;
}

.author-new {
  margin-top: 1.3em;  
}

.author-edit {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em;
}

.authors-post {
  margin-top: 0.9em;
  border-bottom: thin solid #eee;
  padding-bottom: 0.9em;
}

.authors-postHeading {
  margin-bottom: 1em;
  margin-top: 1em;
}

.authors-info {
  border-bottom: thin solid #eee;
}

.authors-posts {
  margin-bottom: 1.3em;
}