.commentSection {
  margin-top: 1.3em;
  border-bottom: solid thin #eee;
  padding-bottom: 1.5em;
}
.commentSection-headings {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3em;
}

.commentSection-add {
  margin-top: 1.3em;
}

.commentSection-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.commentSection-comment {
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
  border-bottom: solid thin #eee;
  padding-top: 0.5em;
}