.confirmations {
  margin-top: 5em;
}

.confirmations-header {
  text-align: center;
}

.confirmations-form {
  padding-bottom: 1em;
}

.confirmations-label {
  font-weight: bold;
  font-size: 0.9em;
}

.confirmations-field {
  margin-bottom: 0.354em;
}
