.navbarLogo {
  text-transform: uppercase;
  letter-spacing: -1px;
}

.nav-item {
  transition: 0.3s background-color;
  &:hover {
    background-color: #ccc;
  }
}

.nav-link {
  transition: 0.3s color;
  &:hover {
    color: #000 !important;
  }
}