.passwords {
  margin-top: 5em;
}

.passwords-header {
  text-align: center;
}

.passwords-form {
  padding-bottom: 1em;
}

.passwords-label {
  font-weight: bold;
  font-size: 0.9em;
}

.passwords-field {
  margin-bottom: 0.354em;
}
