.post {
  border-bottom: thin solid #eee;
}

.singlePost {
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}

.post-btn-edit {
  margin-bottom: 1.5em;
}

.post-content {
  border-bottom: thin solid #eee;
}

.post-new {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em; 
}

.post-edit {
  margin-top: 1.3em;
  border-bottom: thin solid #eee;
  padding-bottom: 1.5em; 
}