.registrations {
  margin-top: 5em;
}

.registrations-header {
  text-align: center;
}

.registrations-form {
  padding-bottom: 1em;
}

.registrations-label {
  font-weight: bold;
  font-size: 0.9em;
}

.registrations-field {
  margin-bottom: 0.354em;
}

.registrations-button {
  margin-top: 1em;
}

.registrations-personalData {
  border-bottom: thin solid #eee;
  padding-bottom: 1em;
}

.registrations-password {
  margin-top: 1em;
  padding-bottom: 1em;
}