.sessions {
  margin-top: 5em;
}

.sessions-header {
  text-align: center;
}

.sessions-form {
  padding-bottom: 1em;
}

.sessions-label {
  font-weight: bold;
  font-size: 0.9em;
}

.sessions-field {
  margin-bottom: 0.354em;
}

.sessions-link {
  margin-bottom: 0.354em;
}

.sessions-forgot {
  font-size: 0.8em;
}