<div data-commentator-id="<%= commentator.id %>" class="row singleCommentator">
  <div class="col-sm-12 col-md-6"><%= commentator.name %></div>
  <div class="col-sm-12 col-md-6"><%= link_to 'Delete', commentator_path(commentator.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-danger' %></div>
</div>