<div class="jumbotron text-center">
  <h1>Commentators</h1>
</div>

<div class="container">
  <% @commentators.each do |commentator| %>
    <%= render 'commentator', commentator: commentator %>
  <% end %>
</div>
<hr/>

<div class="container">
  <%= link_to "New", new_commentator_path, role: 'button', class: 'btn btn-primary' %>
</div>