<% content_for :title, 'Blog | Commentator - New' %>

<div class="container commentator">
  <h1>Add commentator</h1>

  <%= form_for @commentator do |f| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :name, class: 'input-group-text' %>
      </div>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>